n8n-workflows/workflow-linkedin-contacts.json
{
  "name": "ENG — LinkedIn Contacts Scraper",
  "nodes": [
    {
      "parameters": {
        "authentication": "apifyOAuth2Api",
        "actorId": {
          "__rl": true,
          "value": "M2FMdjRVeF1HPGFcc",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Search Scraper No Cookies ✅ Find all people 📧 (harvestapi/linkedin-profile-search)",
          "cachedResultUrl": "https://console.apify.com/actors/M2FMdjRVeF1HPGFcc/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apifyTrigger",
      "typeVersion": 1,
      "position": [672, 176],
      "id": "d2122dab-1258-43ee-8a16-0656df99bfcb",
      "name": "Apify Trigger",
      "webhookId": "871aea2c-86b8-42cc-a918-4384901f8eaa",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "GUI4nrDG4KOBCnXw",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.resource.storages.datasets.default.id }}",
        "options": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [880, 176],
      "id": "db08d5fc-a534-455c-9d8f-3501e4e65aac",
      "name": "Get dataset items",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "GUI4nrDG4KOBCnXw",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfunction toStr(v) {\n  if (!v) return undefined;\n  if (typeof v === 'string') return v.trim() || undefined;\n  if (Array.isArray(v)) return v.filter(Boolean).join(', ') || undefined;\n  if (typeof v === 'object') {\n    return [v.default, v.city, v.state, v.country].filter(Boolean)[0] || undefined;\n  }\n  return String(v);\n}\n\nfor (const item of items) {\n  const d = item.json;\n\n  if (!d.firstName && !d.fullName) continue;\n\n  const name = d.fullName || `${d.firstName || ''} ${d.lastName || ''}`.trim();\n  // harvestapi actor: currentPositions[0] has companyName and title\n  const pos = Array.isArray(d.currentPositions) ? d.currentPositions[0] : null;\n  const company = toStr(pos?.companyName || d.companyName || d.company || d.currentCompany);\n  const role = toStr(pos?.title || d.jobTitle || d.headline || d.title);\n  const linkedin_url = toStr(d.linkedInUrl || d.profileUrl || d.url);\n  const location = toStr(d.location || d.city);\n  const email = toStr(d.email || d.emailAddress);\n  const phone = toStr(d.phone || d.phoneNumber);\n\n  let score = 0;\n  if (email) score += 30;\n  if (phone) score += 20;\n  if (linkedin_url) score += 15;\n  if (company) score += 15;\n  if (role) score += 10;\n  if (location) score += 10;\n\n  results.push({\n    json: {\n      name,\n      role,\n      company,\n      linkedin_url,\n      email,\n      phone,\n      location,\n      score: Math.min(score, 100),\n      enrichment: {\n        raw_headline: d.headline || undefined,\n        connections: d.connectionsCount || undefined,\n        industry: d.industry || undefined,\n        summary: d.summary ? d.summary.slice(0, 200) : undefined,\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "fb2b4cfc-eeba-4e83-a995-ea34539ff3e9",
      "name": "Normalizza dati LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1104, 176]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c797ec5-28b0-41ca-9474-3c1bafc0f0f2",
      "name": "Filtra score >= 20",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1328, 176]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "e9098941-ee5f-4b2d-82d9-223c7a49895b",
      "name": "Raggruppa in batch da 50",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1552, 176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://enggroupdashboard.netlify.app/.netlify/functions/webhook-contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "eng2026secretwebhook"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'linkedin', contacts: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e7d340c3-678c-4ca5-887a-98888e4dfb48",
      "name": "Invia alla Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1776, 176]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconsole.log(`✅ LinkedIn: ${response.inserted} inseriti, ${response.received} ricevuti`);\nreturn [{ json: { status: 'ok', ...response } }];"
      },
      "id": "10725408-f704-46db-b0ea-86110512f518",
      "name": "Log risultato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 176]
    }
  ],
  "pinData": {},
  "connections": {
    "Apify Trigger": {
      "main": [[{ "node": "Get dataset items", "type": "main", "index": 0 }]]
    },
    "Get dataset items": {
      "main": [[{ "node": "Normalizza dati LinkedIn", "type": "main", "index": 0 }]]
    },
    "Normalizza dati LinkedIn": {
      "main": [[{ "node": "Filtra score >= 20", "type": "main", "index": 0 }]]
    },
    "Filtra score >= 20": {
      "main": [[{ "node": "Raggruppa in batch da 50", "type": "main", "index": 0 }]]
    },
    "Raggruppa in batch da 50": {
      "main": [[{ "node": "Invia alla Dashboard", "type": "main", "index": 0 }]]
    },
    "Invia alla Dashboard": {
      "main": [[{ "node": "Log risultato", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b47ec65271321776d471f6de5e3777dc1d657759f4ac5d22b52841417e5d1794"
  },
  "id": "Sgr9yLYLhQd5aBuZ",
  "tags": []
}
